<!DOCTYPE html>
<html>
<head>
  <title>{{error.title}}</title>
  <link rel="stylesheet" href="/dashboard/vendor/semantic-ui/semantic.min.css">
  <style type="text/css">
    .ui.vertical.segment {
      padding-left: 1rem;
    }
  </style>
</head>
<body class="trace error">
  <div class="ui inverted vertical segment">
    <h1 class="ui huge header">{{error.title}} ({{error.status}})</h1>
    <pre><code>{{error.stack}}</code></pre>
  </div>

  <div class="ui vertical segment">
    <table class="ui very basic table">
      <tbody>
        {{#if error.request}}
        <tr>
          <td class="collapsing">Method</td>
          <td>{{error.request.method}}</td>
        </tr>
        <tr>
          <td>URL</td>
          <td>{{error.request.url}}</td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</body>
</html>