.form {
  input,
  textarea,
  .wysiwyg {
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  input:not(.button),
  textarea {
    display: block;
    width: 100%;
    padding: 1rem 1rem 1.1rem;
    border: 1px solid $grey-light;
    border-radius: $border-radius;

    &::-webkit-input-placeholder { color: $grey; }
    &::-moz-placeholder { color: $grey; }
    &:-ms-input-placeholder { color: $grey; }
    &:-moz-placeholder { color: $grey; }
  }

  .wysiwyg,
  .ace_editor {
    font-size: inherit;
    min-height: 10rem;
    border: 1px solid $grey-light;
    border-radius: $border-radius;
  }

  .ql-toolbar {
    border-radius: $border-radius $border-radius 0 0;
  }

  .wysiwyg {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .fieldset {
    border: 0;
    margin-left: 2.4rem;

    label {
      margin-top: 1.2rem;
    }

    small {
      display: block;
    }
  }


  .field,
  .fields {
    margin-bottom: 4rem;

    &.submit {
      margin-top: -2rem;
      margin-bottom: 0;
      position: sticky;
      bottom: 0;
      padding: 1.2rem 0;
      background: white;
      z-index: 999;
    }

    &.inline {
      margin-bottom: 0;

      input.button {
        margin-top: 1rem;
      }

      @include desktop {
        display: flex;
        margin-bottom: 1em;

        input.button {
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1rem;

      &.hidden {
        font-size: 0;
        width: 0;
        margin-bottom: 0;
      }

      + small {
        margin-top: -1rem;
        margin-bottom: 1rem;
      }

      small {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        color: $grey-dark;
      }
    }

    &.required label:after {
      display: inline-block;
      content: '*';
      color: $red;
      margin-left: 0.5rem;
    }

    > small {
      display: block;
      font-size: 1.2rem;
      color: $grey-dark;

      &.error-message {
        color: $red;
        margin-top: 0.5rem;
      }
    }

    &.error {
      .wysiwyg,
      .ace_editor,
      .previewable,
      .dropdown.selection,
      .ui.checkbox label:before,
      input:not(.button) {
        background-color: $red-lighter;
        border-color: $red;
      }

      .ql-toolbar {
        border-top-color: $red;
        border-right-color: $red;
        border-left-color: $red;
      }
    }
  }

  .field__choice {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 0 0 0 3.2rem;
    border: 1px solid $grey-light;
    border-radius: 8px;
    user-select: none;

    .checkbox.checkbox--single {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.4rem;
    }

    .checkbox--multiple {
      margin-left: -14px;
    }

    > label {
      cursor: pointer;
      margin: 0;
      padding: 1.2rem;
    }

    .ui.dropdown {
      width: calc(100% - 1.2rem);
      margin-bottom: 1.2rem;
    }
  }

  .field__link {

    fieldset {
      position: relative;
      padding: 1.2rem;
      border: 1px solid $grey-light;
      border-radius: 8px;
      user-select: none;
      margin-left: 0;
    }

    label {
      margin-top: 0;
    }

    select {
      -webkit-appearance: none;
      appearance: none;
      font: inherit;
      width: calc(50% - 1.2rem);
      border: 1px solid $grey-light;
      padding: 1.2rem 3.2rem 1.2rem 1.2rem;
      line-height: 1;
      background: white;
      border-radius: 2px;
      float: left;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23909eb2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-position: center right 1rem;
      background-size: 1.2rem;
      background-repeat: no-repeat;
      color: $grey;

      &.selected {
        color: $grey-darkest;
      }
    }

    input[type=text] {
      margin-bottom: 1.2rem;
    }

    input[type=url] {
      width: calc(50% - 1.2rem);
      float: right;
    }

    span {
      width: 2.4rem;
      font: inherit;
      padding: 1.2rem 0;
      display: inline-block;
      text-align: center;
      line-height: 1;
      color: $grey-dark;
    }

    &.required fieldset label::after { display: none; }
  }

  div.previewable {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: $border-radius;
    position: relative;
    width: 100%;
    padding: 0 0 56.25% 0;
    height: 0;

    &::before {
      content: "Upload an Image";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      color: $grey-light;
      background: $grey-lightest;
      z-index: 0;
    }

    input:first-of-type {
      padding: 0;
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
    }

    .preview {
      display: block;
      margin: 0;
      object-fit: contain;
      object-position: center;
      position: absolute;
      width: calc(100% - 2.4rem);
      height: calc(100% - 2.4rem);
      top: 1.2rem;
      left: 1.2rem;
      border-radius: 3px;
      z-index: 0;
      background: $grey-lightest;
    }

    .preview[src=""], .preview[src=""] + .ui.checkbox {
      display: none;
    }

    .ui.checkbox {
      position: absolute;
      bottom: 1.8rem;
      right: 1.8rem;
      margin: 0;
      padding: 0.8rem 1.2rem;
      border-radius: 4px;
      background-color: rgba(0,0,0,.85);
      z-index: 2;
      label {
        margin: 0;
        color: white;
        padding: 0;
        font-weight: 600;
        &::before {
          display: none;
        }
      }
    }
  }

  /**
   * Semantic UI overrides
   */
  .ui.checkbox {
    display: block;
    margin-bottom: 0.5rem;

    &:after {
      display: none;
    }
  }

  .ui.label:hover {
    text-decoration: none;
  }
}

