.section {
  border-bottom: 1px solid $grey-lighter;

  &:last-of-type {
    border-bottom: none;
  }

  .header,
  .content {
    width: 100%;
    max-width: 74rem;
    margin: 0 auto;
    padding: 4rem 2rem;
    box-sizing: border-box;

    &.wide {
      max-width: 108rem;
    }
  }

  .header {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .content {
    overflow: visible;
    -webkit-overflow-scrolling: touch;
  }

  .metadata {
    background-color: $grey-lightest;
    height: 0;
    transition: height .28s, visibility .28s;
    overflow: hidden;
    visibility: hidden;

    &.open {
      height: 450px; // Magic number is magic. Make this work better.
      transition: height .28s, visibility 0s;
      visibility: visible;
    }

    input[name='metadata[slug]'] {
      background-image: linear-gradient(-73deg, transparent 0px, transparent 6px, black 7px, transparent 8px);
      background-size: 13px 13px;
      background-position: top left;
      background-repeat: no-repeat;
      background-position: 7px center;
      padding-left: 1.8rem;
    }

    input[name='metadata[slug]']::placeholder {
      color: rgb(152, 168, 185);
    }

    input[name='metadata[slug]']:placeholder-shown {
      background-image: linear-gradient(-73deg, transparent 0px, transparent 6px, rgb(152, 168, 185) 7px, transparent 8px);
    }

    h3 {
      margin-bottom: 3.2rem;
    }

    .metadata__split-section {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 0 2.4rem;
      .field { flex-grow: 1; }
      .field:not(:last-of-type) {
        margin-right: 1.2rem;
      }
    }
  }

  .subheader {
    font-weight: normal;
    font-size: 1.4rem;
    color: $grey-dark;

    strong {
      color: $grey-darker;
    }
  }
}